{% extends "base.html" %}
{% load myprofile_extras %}

{% block title %}Summary{% endblock %}

{% load static %}
{% block content %}
<h1>See What I have worked on...</h1>
<ul>
    {% for i in range %}
    <li>
        <div class="postpreview">
            <img alt="{{i}}" src="{% static 'img/'|get_thumbnail:i %}">
            <div class="textbox">
                <h2><a href="{% url 'posts' i %}">{{ postdict|get_item:i }}</a></h2>
                <p>{{ desdict|get_item:i }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}
{% block buttons %}
<ul>
    <li><a class="btn" href="{% url 'profile' %}">View Profile</a></li>
</ul>
{% endblock %}