{% extends "base.html" %}

{% block content %}
<h1>{% block title %}{% endblock %}</h1>
<p>{% block date %}{% endblock %}</p>
<div class="post">
    {% block main %}
    {% endblock %}
</div>
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}
{% block buttons %}
<ul>
    <li><a class="btn" href="{% url 'profile' %}">View Profile</a></li>
    <li><a class="btn" href="{% url 'index' %}">Main Page</a></li>
</ul>
{% endblock %}