{% extends "base.html" %}

{% block title %}William's Profile{% endblock %}
{% load static %}
{% block content %}
<h1>My Profile</h1>
<h2>Description</h2>
<p>I love to learn new things, but sometimes I got bored and move on to other things. Learned programming earlier in high school, but I still have much to learn.</p>
<h2>Experience</h2>
<ul>
    <li><b>...</b></li>
</ul>
<h2>Achievements</h2>
<ul>
    <li><b>2nd Place, CTF Pekan Ristek 2019</b></li>
</ul>

{% endblock %}
{% block sidebar %}
<h2>Contact</h2>
<p>Email: william92@ui.ac.id</p>
<h2>Social Media</h2>
<ul style="display: inline;">
    <li><img src="{% static 'img/twitter.png' %}" href="https://twitter.com/hori_75" style="width: 50px; height: 50px;"></li>
</ul>
{% endblock %}
{% block buttons %}
<ul>
    <li><a class="btn" href="{% url 'index'%}">Main Page</a></li>
</ul>
{% endblock %}