<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <title>PPW Story | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <img alt="William's photo" src="{% static 'img/William.png' %}">
                    <h2>William</h2>
                    {% block sidebar %}
                    {% endblock %}
                    <div class="sidebar-button">
                        {% block buttons %}
                        {% endblock %}
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3 content">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>